.register--form {
    width: 100%;
    height: calc(100vh - 5vh);
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    padding: 1rem;
    width: 450px;
    height: auto;
    box-shadow: 5px 4px 20px 0px #c6c4d1;
    position: relative;
}

form .header {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form .header h2 {
    margin: 1rem 0;
    color: rgb(7, 7, 43);
    font-size: 2rem;
}

form .header p {
    color: rgb(161, 161, 161);
    margin-bottom: 1rem;
}

form .header p::before {
    content: '';
    position: absolute;
    top: 6rem;
    left: 5.7rem;
    background-color: rgb(216, 216, 216);
    width: 4rem;
    height: 1px;
}

form .header p::after {
    content: '';
    position: absolute;
    top: 6rem;
    right: 5.7rem;
    background-color: rgb(216, 216, 216);
    width: 4rem;
    height: 1px;
}

form .header button {
    width: 90%;
    padding: 0.5rem 1rem;
    border: 1px solid rgb(216, 216, 216);
    margin: 0.3rem 0;
    background: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

form .header button span {
    margin-right: 1rem;
}

form .header button  {
    font-size: 1rem;
    text-transform: capitalize;
    color: rgb(7, 7, 43);
    font-weight: 500;
    cursor: pointer;
}

form .or p {
    color: rgb(161, 161, 161);
    margin: 1rem 0 0;
    text-align: center;
}

form .or p::before {
    content: '';
    position: absolute;
    top: 16.2rem;
    left: 5.7rem;
    background-color: rgb(216, 216, 216);
    width: 4rem;
    height: 1px;
}

form .or p::after {
    content: '';
    position: absolute;
    top: 16.2rem;
    right: 5.7rem;
    background-color: rgb(216, 216, 216);
    width: 4rem;
    height: 1px;
}

form .input--areas {
    padding: 1rem 1rem;
}

form .input--areas .input--area {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}

form .input--areas .input--area label {
    margin: 1rem 0 0.5rem;
    text-transform: capitalize;
    color: rgb(121, 121, 121);
    font-size: 1.1rem;
}

form .input--areas .input--area input {
    padding: 0.7rem 1rem;
    border: 1px solid rgb(216, 216, 216);
    outline: none;
}

form .input--areas .input--area input[type=text],
form .input--areas .input--area input[type='text'],
form .input--areas .input--area input[type=email],
form .input--areas .input--area input[type='email'],
form .input--areas .input--area input[type=password],
form .input--areas .input--area input[type='password'] {
    color: rgb(0, 0, 0);
    font-size: 1.1rem;
    letter-spacing: 2px;
}

form .input--areas .input--area input:last-child {
    margin-bottom: 1rem;
}

form button {
    width: 100%;
    padding: 0.8rem 1rem;
    border: 1px solid rgb(216, 216, 216);
    margin: 0.3rem 0;
    background: rgb(7, 7, 43);
    outline: none;
    color: white;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 1.1rem;
    text-transform: uppercase;
}